#portada_curso_html
{background:#101;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:50px 25px;
color:#fff;}

#portada_curso_html img
{max-width:300px;}

#portada_curso_html h1
{font-size:2rem;
margin: 25px 0;}

#portada_curso_html p
{font-size:1rem;
line-height:1.5rem;
margin: 0 0 25px 0;
font-weight:600;}

#portada_curso_html button
{border:none;
border-radius:20px;
background: #fff;
color:#000;
font-size:1rem;
font-weight:900;
width:200px;
height: 40px;
margin: 0 auto 25px auto;}

/* INDICE DE CURSOS ----------------------------------- */
/* INDICE DE CURSOS ----------------------------------- */
/* INDICE DE CURSOS ----------------------------------- */
/* INDICE DE CURSOS ----------------------------------- */
/* INDICE DE CURSOS ----------------------------------- */
/* INDICE DE CURSOS ----------------------------------- */
/* INDICE DE CURSOS ----------------------------------- */
/* INDICE DE CURSOS ----------------------------------- */

#curso_1
{display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#ef0;
padding:50px 25px;}

#curso_1 ol
{margin:auto;
text-align:center;}

#curso_1 h1
{font-size:2rem;
margin: 25px auto;}

#curso_1 li
{font-size:1rem;
line-height:1.5rem;
margin: 0 auto 25px 25px;
font-weight:600;}

#curso_1 button
{border:none;
border-radius:20px;
background: #000;
color:#fff;
font-size:1rem;
font-weight:900;
width:200px;
height: 40px;
margin: 0 auto 25px auto;}

/* INDICE DE CURSOS ----------------------------------- */

#curso_2
{display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#fff;
margin:auto;
padding:50px 25px;}

#curso_2 ol
{margin:auto;
text-align:center;}

#curso_2 h1
{font-size:2rem;
margin: 25px auto;}

#curso_2 li
{font-size:1rem;
line-height:1.5rem;
margin: 0 auto 25px 25px;
font-weight:600;}

#curso_2 button
{border:none;
border-radius:20px;
background: #000;
color:#fff;
font-size:1rem;
font-weight:900;
width:200px;
height: 40px;
margin: 0 auto 25px auto;}

/* INDICE DE CURSOS ----------------------------------- */

#curso_3
{display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#303;
margin:auto;
padding:50px 25px;}

#curso_3 ol
{margin:auto;
text-align:center;}

#curso_3 h1
{font-size:2rem;
margin: 25px auto;
color:#fff;}

#curso_3 li
{font-size:1rem;
line-height:1.5rem;
margin: 0 auto 25px 25px;
font-weight:600;
color:#fff;}

#curso_3 button
{border:none;
border-radius:20px;
background: #000;
color:#fff;
font-size:1rem;
font-weight:900;
width:200px;
height: 40px;
margin: 0 auto 25px auto;}























