*
{margin:0;
padding:0;
box-sizing:border-box;}

:root
{
--msc:#f0f;
--mc:#606;
--mm:#303;
--mo:#101;
--am:#ef0;
--bl:#fff;
--ne:#000;
--he1:2.25rem;
--he2:2rem;
--he3:1.75rem;
--he4:1.5rem;
--btnw:200px;
--btnh:40px;
--btnr:400px;
--prg:16px;
--prgstg:900;
--prgmxw:500px;
--prglnh:25px;
}

html
{font-size:16px;
font-family:sans-serif;
scroll-behavior:smooth;}

body
{background:var(--mm);
overflow: scroll;}

/* CABECERA --------------------------------------------*/
/* CABECERA --------------------------------------------*/
/* CABECERA --------------------------------------------*/
/* CABECERA --------------------------------------------*/
/* CABECERA --------------------------------------------*/
/* CABECERA --------------------------------------------*/
/* CABECERA --------------------------------------------*/
/* CABECERA --------------------------------------------*/

#cabecera
{display:flex;
height:80px;
background:var(--mc);
align-items:center;
justify-content;}

#contenedor_logo
{margin: 0 0 0 25px;
height:80px;
display:flex;
align-items:center}

#contenedor_logo img
{height:30px;}

#navegacion_principal
{display:flex;
margin: 0 25px 0 auto;}

#navegacion_principal a
{text-decoration:none;
color:var(--bl);
margin: 0 0 0 25px;
font-weight:900;}

#navegacion_principal li
{display:inline;}

#navegacion_movil
{display:none;}

#boton_menu_cabecera
{display:none;
flex-direction:column;
justify-content:space-evenly;
width:30px;
height:30px;
margin:0 25px 0 0;}

#boton_menu_cabecera div
{width:30px;
height:3px;
background:var(--bl);
margin:0 25px 0 0;}

/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/

#portada_index
{display:flex;
flex-direction:column;
align-items:center;
padding: 50px 25px;
gap:25px;
color:var(--bl);}

#portada_index img
{width:450px;
border-radius:500px;}

#portada_index h1
{font-size:var(--he1);
max-width:750px;
text-align:center;}

#portada_index button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--am);
border:none;
color:var(--ne);
font-size:var(--prg);}

#portada_index a
{font-weight:900;}

/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/

#bio
{background:var(--bl);
display:flex;
flex-direction:column;
align-items:center;
padding:50px 25px;
gap:25px;}

#bio p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#bio button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--ne);
border:none;
color:var(--bl);
font-size:var(--prg);
font-weight:var(--prgw);}

#curso_1_index
{background:var(--am);
display:flex;
flex-direction:column;
align-items:center;
padding:50px 25px;
gap:25px;}

#curso_1_index p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#curso_1_index button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--ne);
border:none;
color:var(--bl);
font-size:var(--prg);
font-weight:var(--prgw);}

#curso_2_index
{background:var(--bl);
display:flex;
flex-direction:column;
align-items:center;
padding:50px 25px;
gap:25px;}

#curso_2_index p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#curso_2_index button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--ne);
border:none;
color:var(--bl);
font-size:var(--prg);
font-weight:var(--prgw);}

#pie_de_pagina
{background:var(--mo);
display:flex;
flex-direction:column;
align-items:center;
padding:50px 25px;
gap:25px;
color:var(--bl);}

#pie_de_pagina p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#pie_de_pagina a
{text-decoration:none;
color:var(--bl);
font-weight:var(--prgstg);}

#pie_de_pagina li
{color:var(--bl);
line-height:2rem;}

#pie_de_pagina img
{border-radius:500px;}







/* MEDIA QUERIES ---------------*/
/* MEDIA QUERIES ---------------*/
/* MEDIA QUERIES ---------------*/
/* MEDIA QUERIES ---------------*/
/* MEDIA QUERIES ---------------*/
/* MEDIA QUERIES ---------------*/
/* MEDIA QUERIES ---------------*/
/* MEDIA QUERIES ---------------*/

@media only screen and (max-width:450px)
{

:root
{--mm:#303;
--mo:#101;
--am:#ef0;
--bl:#fff;
--ne:#000;
--he1:1.5rem;
--he2:2rem;
--he3:1.75rem;
--he4:1.5rem;
--btnw:200px;
--btnh:40px;
--btnr:400px;
--prg:16px;
--prgstg:900;
--prgmxw:500px;
--prglnh:25px;
}

h2
{font-size:2rem;}

h3
{font-size:1.75rem;}

#cabecera
{display:flex;
flex-wrap:wrap;
background:var(--mc);
align-items:center;
justify-content;}

#contenedor_logo
{margin: 0 0 0 25px;
height:80px;
display:flex;
align-items:center}

#contenedor_logo img
{height:20px;
transform: scale;}

#contenedor_logo img:active
{scale: 1.1;}

#navegacion_principal
{display:none;
margin: 0 25px 0 auto;}

#navegacion_principal a
{text-decoration:none;
color:var(--am);
margin: 0 0 0 25px;
font-weight:900;}

#navegacion_principal li
{display:inline;}

/* NAVEGACIÓN MÓVIL-----------------------------*/

#navegacion_movil
{display:none;
padding: 0 0 0 0;}

#navegacion_movil li
{color:var(--mc);
list-style-type:none;
margin: 0 0 0 0;
padding:12.5px 25px 12.5px 25px;
font-weight:900;
background:var(--bl);
border-bottom:solid 2px var(--mc);}

#navegacion_movil a
{text-decoration:none;}

#boton_menu_cabecera
{display:flex;
flex-direction:column;
justify-content:space-evenly;
width:25px;
height:25px;
margin:0 25px 0 auto;
transform: scale;}

#boton_menu_cabecera:active
{scale: 1.1;}

#boton_menu_cabecera div
{width:25px;
height:3px;
border-radius:30px;
background:var(--bl);
margin:0 25px 0 0;}

/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/
/* PORTADA INDEX --------------------------------------------*/

#portada_index
{display:flex;
flex-direction:column;
padding: 0px 	0px 35px 0;
gap:25px;
color:var(--bl);}

#portada_index img
{width:100%;
border-radius:0px;}

#portada_index h1
{font-size:1.25rem;
line-height:2rem;
max-width:750px;
text-align:left;
padding:0 25px;}

#portada_index button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--am);
border:none;
color:var(--ne);
font-size:var(--prg);
font-weight:var(--prgw);}

#portada_index a
{margin: 0 auto 0 0;
padding: 0 0 0 25px;}

/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/
/* BIO --------------------------------------------*/

#bio
{background:var(--bl);
display:flex;
flex-direction:column;
align-items:center;
padding:35px 25px;
gap:25px;}

#bio p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#bio button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--ne);
border:none;
color:var(--bl);
font-size:var(--prg);
font-weight:var(--prgw);}

/* CURSO --------------------------------------------*/
/* CURSO --------------------------------------------*/
/* CURSO --------------------------------------------*/
/* CURSO --------------------------------------------*/
/* CURSO --------------------------------------------*/
/* CURSO --------------------------------------------*/
/* CURSO --------------------------------------------*/
/* CURSO --------------------------------------------*/

#curso_1_index
{background:var(--am);
display:flex;
flex-direction:column;
align-items:center;
padding:35px 25px;
gap:25px;}

#curso_1_index p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#curso_1_index button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--ne);
border:none;
color:var(--bl);
font-size:var(--prg);
font-weight:var(--prgw);}

#curso_2_index
{background:var(--bl);
display:flex;
flex-direction:column;
align-items:center;
padding:35px 25px;
gap:25px;}

#curso_2_index p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#curso_2_index button
{width:var(--btnw);
height:var(--btnh);
border-radius:var(--btnr);
background:var(--ne);
border:none;
color:var(--bl);
font-size:var(--prg);
font-weight:var(--prgw);}

/* PIE DE PÁGINA ----------------------------*/
/* PIE DE PÁGINA ----------------------------*/
/* PIE DE PÁGINA ----------------------------*/
/* PIE DE PÁGINA ----------------------------*/
/* PIE DE PÁGINA ----------------------------*/
/* PIE DE PÁGINA ----------------------------*/
/* PIE DE PÁGINA ----------------------------*/
/* PIE DE PÁGINA ----------------------------*/

#pie_de_pagina
{background:var(--mo);
display:flex;
flex-direction:column;
align-items:center;
padding:25px;
gap:25px;
color:var(--bl);}

#pie_de_pagina h2, h3
{font-size:2rem;
margin: 0 auto 0 0;}

#pie_de_pagina p
{max-width:var(--prgmxw);
line-height:var(--prglnh);}

#pie_de_pagina a
{text-decoration:none;
color:var(--bl);
font-weight:var(--prgstg);
margin: 0 auto 0 0;}

#pie_de_pagina ul
{text-align:left;
margin: 0 auto 0 0;
list-style-type:none;}

#pie_de_pagina li
{line-height:2rem;
margin: 0 auto 0 0;}

#pie_de_pagina img
{border-radius:500px;}

}







